@charset "UTF-8";


#createEvent_h1{ 
    position:relative;
    top:25px;
    font-size:30px;
    color:black;
    padding:13px;
    border-bottom:3px solid grey;
    margin-top:20px;
}

#createEvent_table{
    margin-top:70px;  
    text-align:center;
}
#createEvent_table td{
    border-bottom:1px solid black;
    padding:15px;

}
#createEvent_table td:nth-child(odd){
    font-size:18px;
    border-right:1px solid black;
}

#createEvent_title{
  height:32px;
}

#createEvent_textarea{
  width:95%;
  height:500px;
}

#createEvent_imageSpan{
  font-size:15px;
}

#createEvent_category{
 width:150px; 
 font-size:14px;
}

.createEvent_date{
  hegiht:700px;
}

#createEvent_endBtns{
  text-align:center;
  padding:10px;
}

#createEvent_addBtn{
  font-size:15px;
}

#createEvent_submitBtn{
 font-size:20px;
 width:80px;
 margin-right:40px;

}

#createEvent_backBtn{
  font-size:15px;
  
}
